// Direction
// -------------------------

.flex-row,
.flex-column {
  display: -webkit-box;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}


// Size
// -------------------------

.flex-auto {
  -webkit-box-flex: 1;
          flex: auto;
}

.flex-none {
  -webkit-box-flex: 0;
          flex: none;
}

.flex-grow {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
}


// Align
// -------------------------

.flex-align-center {
  -webkit-box-align: center;
          align-items: center;
}

.flex-align-start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.flex-align-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.flex-align-baseline {
  -webkit-box-align: baseline;
          align-items: baseline;
}


// Justify
// -------------------------

.flex-justify-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.flex-justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.flex-justify-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.flex-justify-space-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}
